##Scrapping

In [14]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [15]:
import os
import tweepy as tw
import tweepy

In [16]:
consumer_key = '91LtHt5fNCABkeWzDDqQZG7eN'
consumer_secret = 'g1GTpyuGwxWL88LcYf0smr5BQCkVbdxHAu5wCICOT7hY7Ij2b3'
access_token = '771329002460082177-WsdjXnzEuexqRWLBXia9PPBpLmcUMN9'
access_token_secret = 'ImxLRfnQmMR8p6wVRkjyR5rWC8cAlFEEfq5jwFWnkUrzE'


auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth,wait_on_rate_limit=True)

In [17]:
search_words = ["Climate change Kenya"]
date_since = "2000-01-01"
geo = '-1.2863,36.817223,600km'  #-1.286389, 36.817223
# places = api.geo_search(query="Germany", granularity="country")
# place_id = places[0].id

In [18]:
tweets = tw.Cursor(api.search, geocode = geo,
                       q=search_words,
              
                       lang="en",
                       since=date_since).items(1000)  #size of data
tweets

In [19]:
import pandas as pd
users_locs = [[tweet.user.screen_name,
               tweet.text,
               tweet.user.location,
               tweet.user.description,
               tweet.user.friends_count,
               tweet.user.followers_count,
               tweet.user.statuses_count,
               tweet.user.created_at,
               tweet.retweet_count, 
               tweet.entities['hashtags']] for tweet in tweets]
users_locs

tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['user', 'tweet',"location", 'description','friends_count','followers_count', 
                             'statuses_count', 'created_at', 'retweet_count', 'hashtags'])
tweet_text['tweet']

0      Together with @KenyaCIC, we seek to create a n...
1      How can women and youth participate in land us...
2      What we must all do to ease the effects of cli...
3      Youth have the power to bring about transforma...
4      Health is influenced by #climatechange in many...
                             ...
101    Hon Christine Kaaya Member of Parliament Ugand...
102    @kenya_climate @PACJA1 @OpenSocietyEA @artspac...
103    @UNGeneva @UNHumanRights As the world mark 202...
104    The IPCC report is coming out tomorrow.  As a ...
105    Kenya reversing the gains on use of cleaner co...
Name: tweet, Length: 106, dtype: object

In [20]:
tweet_text.shape

(106, 10)

In [21]:
# tweet_text[tweet_text['location']=="KE"]

tweet_text[tweet_text['tweet'].str.contains("drought")]
tweet_text[tweet_text['tweet'].str.contains("famine")]
# tweet_text[tweet_text['tweet'].str.contains("food insecurity")]

Empty DataFrame
Columns: [user, tweet, location, description, friends_count, followers_count, statuses_count, created_at, retweet_count, hashtags]
Index: []

In [22]:
tweet_text[tweet_text['tweet'].str.contains("floods")]
tweet_text[tweet_text['tweet'].str.contains("excessive rain")]
tweet_text[tweet_text['tweet'].str.contains("swim")]
tweet_text[tweet_text['tweet'].str.contains("ocean")]
tweet_text[tweet_text['tweet'].str.contains("sea")]

Empty DataFrame
Columns: [user, tweet, location, description, friends_count, followers_count, statuses_count, created_at, retweet_count, hashtags]
Index: []

In [23]:
tweet_text[tweet_text['tweet'].str.contains("temperature")]

Empty DataFrame
Columns: [user, tweet, location, description, friends_count, followers_count, statuses_count, created_at, retweet_count, hashtags]
Index: []

In [24]:
tweet_text[tweet_text['tweet'].str.contains("carbon")]
tweet_text[tweet_text['tweet'].str.contains("tree")]
tweet_text[tweet_text['tweet'].str.contains("awareness")]
tweet_text[tweet_text['tweet'].str.contains("transport")]
tweet_text[tweet_text['tweet'].str.contains("green")]
tweet_text[tweet_text['tweet'].str.contains("plant")]
tweet_text[tweet_text['tweet'].str.contains("forest")]
# tweet_text[tweet_text['tweet'].str.contains("solar")]
# tweet_text[tweet_text['tweet'].str.contains("energy")]
# tweet_text[tweet_text['tweet'].str.contains("recycle")]
# tweet_text[tweet_text['tweet'].str.contains("reuse")]

Empty DataFrame
Columns: [user, tweet, location, description, friends_count, followers_count, statuses_count, created_at, retweet_count, hashtags]
Index: []

In [25]:
# [tweet_text[tweet_text['tweet'].str.contains("forest")],'race_label'] = 'greentalk'
# # tweet_text.loc[tweet_text['eri_hawaiian']==1,'race_label'] = 'Haw/Pac Isl.'
# # tweet_text.loc[tweet_text['eri_afr_amer']==1,'race_label'] = 'Black/AA'
# # tweet_text.loc[tweet_text['eri_asian']==1,'race_label'] = 'Asian'
# # tweet_text.loc[tweet_text['eri_nat_amer']==1,'race_label'] = 'A/I AK Native'
# # tweet_text.loc[(tweet_text['eri_afr_amer'] + tweet_text['eri_asian'] + tweet_text['eri_hawaiian'] + tweet_text['eri_nat_amer'] + tweet_text['eri_white']) > 1,'race_label'] = 'Two Or More'
# # tweet_text.loc[tweet_text['eri_hispanic']==1,'race_label'] = 'Hispanic'
# tweet_text['race_label'].fillna('Other', inplace=True)

In [26]:
tweet_text.to_csv('Climate_change_Kenya_600km.csv')